<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    @RenderSection("meta", required: false)
    
    <meta property="og:title" content="ParkSmartly" />
    <meta property="og:url" content="http://www.parksmartly.com" /> 
    <meta property="og:description" content="Make money out of empty space and find cheaper car park." />
    <title>parkSmartly - @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/templatecss")
    @Scripts.Render("~/bundles/modernizr")
    @*@Scripts.Render("~/bundles/jquery")*@
    @RenderSection("CSS", required: false)
</head>
<body>

    <div id="page" class="page">

        <!-- HEADER 2 -->
        <!-- // End HEADER 2 --><!-- Start Team 2-1 -->
        <!--// End Team 2-1 --><!-- Start Footer 1-1 -->
        <!--// END Footer 1-1 --><!-- HEADER 2 -->
        <!-- // End HEADER 2 --><!-- Start Contact 2 -->
        <!--// END Contact 2 --><!-- Start Team 2-1 -->
        <!--// End Team 2-1 --><!-- Start Footer 1-1 -->
        <!--// END Footer 1-1 --><!-- HEADER 2 -->
        <header id="header-2">

            <nav class="main-nav navbar navbar-default navbar-fixed-top">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a href="/"><img src="~/Content/images/parksmartly-logo-132x58.png" /></a>
                        
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="navbar-collapse">
                        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm"}))
                        {
                        <ul class="nav navbar-nav navbar-right">
                            <li class="nav-item"><a href="/">Home</a></li>
                            <!--
                            <li class="nav-item"><a href="#">How it works</a></li>
                            <li class="nav-item"><a href="#">About</a></li>
                                -->
                            @if (Request.IsAuthenticated)
                            {
                                    @Html.AntiForgeryToken()
                                    <!--<li class="nav-item"><a href="/home/howdoesitwork">My Spaces</a></li>-->
                                    <li class="nav-item"><a href="@Url.Action("Index","Account")">My Dashboard</a></li>
                                    <li class="nav-item">
                                        <a href="javascript:document.getElementById('logoutForm').submit()">Log Off</a>
                                    </li>
                            }
                            else
                            {
                                <li class="nav-item"><a href="/home/howdoesitwork">How it works?</a></li>
                                <li class="nav-item"><a href="/home/contact">Contact Us</a></li>
                                <li class="nav-item"><a href="@Url.Action("Login", "Account")">Login</a></li>
                            }
                        </ul>
                        }
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>

        </header>
        <!-- // End HEADER 2 --><!-- Start Contact 2 -->

        @RenderBody()

        @*<!--// END Contact 2 --><!-- Start Team 2-1 -->
        <section class="content-block team-1">
            <div class="container">

                <div class="underlined-title">
                    <div class="editContent">
                        <h1>Say hello to the team</h1>
                    </div>
                    <hr>
                </div>

                <div class="row">

                    <div class="col-md-3 col-sm-6 team-member-wrap">
                        <div class="team-member">
                            <img src="http://placehold.it/600x500" class="img-responsive" alt="Member Image">
                            <div class="team-details">
                                <div class="editContent">
                                    <h4 class="member-name">Full Name</h4>
                                </div>
                                <div class="editContent">
                                    <p class="position">Co-Founder</p>
                                </div>
                                <div class="editContent">
                                    <p>Donec in velit vel ipsum auctor pulvinar. Vesti bulum iaculis lacinia est. Proin dictum elementum velit. Fusce euismod auctor pulvinar.</p>
                                </div>
                                <ul class="social social-dark">
                                    <li><a href="#"><i class="fa fa-2x fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-2x fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-2x fa-pinterest"></i></a></li>
                                    <li><a href="#"><i class="fa fa-2x fa-dribbble"></i></a></li>
                                </ul><!-- /.social -->
                            </div>
                        </div>
                    </div>
                    <!-- /.team-member-wrap -->

                    <div class="col-md-3 col-sm-6 team-member-wrap">
                        <div class="team-member">
                            <img src="http://placehold.it/600x500" class="img-responsive" alt="Member Image">
                            <div class="team-details">
                                <div class="editContent">
                                    <h4 class="member-name">Full Name</h4>
                                </div>
                                <div class="editContent">
                                    <p class="position">Co-Founder</p>
                                </div>
                                <div class="editContent">
                                    <p>Donec in velit vel ipsum auctor pulvinar. Vesti bulum iaculis lacinia est. Proin dictum elementum velit. Fusce euismod auctor pulvinar.</p>
                                </div>
                                <ul class="social social-dark">
                                    <li><a href="#"><i class="fa fa-2x fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-2x fa-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fa fa-2x fa-dribbble"></i></a></li>
                                </ul><!-- /.social -->
                            </div>
                        </div>
                    </div>
                    <!-- /.team-member-wrap -->

                    <div class="col-md-3 col-sm-6 team-member-wrap">
                        <div class="team-member">
                            <img src="http://placehold.it/600x500" class="img-responsive" alt="Member Image">
                            <div class="team-details">
                                <div class="editContent">
                                    <h4 class="member-name">Full Name</h4>
                                </div>
                                <div class="editContent">
                                    <p class="position">Co-Founder</p>
                                </div>
                                <div class="editContent">
                                    <p>Donec in velit vel ipsum auctor pulvinar. Vesti bulum iaculis lacinia est. Proin dictum elementum velit. Fusce euismod auctor pulvinar.</p>
                                </div>
                                <ul class="social social-dark">
                                    <li><a href="#"><i class="fa fa-2x fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-2x fa-pinterest"></i></a></li>
                                    <li><a href="#"><i class="fa fa-2x fa-behance"></i></a></li>
                                    <li><a href="#"><i class="fa fa-2x fa-dribbble"></i></a></li>
                                </ul><!-- /.social -->
                            </div>
                        </div>
                    </div>
                    <!-- /.team-member-wrap -->

                    <div class="col-md-3 col-sm-6 team-member-wrap">
                        <div class="team-member">
                            <img src="http://placehold.it/600x500" class="img-responsive" alt="Member Image">
                            <div class="team-details">
                                <div class="editContent">
                                    <h4 class="member-name">Full Name</h4>
                                </div>
                                <div class="editContent">
                                    <p class="position">Co-Founder</p>
                                </div>
                                <div class="editContent">
                                    <p>Donec in velit vel ipsum auctor pulvinar. Vesti bulum iaculis lacinia est. Proin dictum elementum velit. Fusce euismod auctor pulvinar.</p>
                                </div>
                                <ul class="social social-dark">
                                    <li><a href="#"><i class="fa fa-2x fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-2x fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-2x fa-google-plus"></i></a></li>
                                </ul><!-- /.social -->
                            </div>
                        </div>
                    </div>
                    <!-- /.team-member-wrap -->

                </div>
                <!-- /.row -->

            </div><!-- /.container -->*@
        </section>
        <!--// End Team 2-1 --><!-- Start Footer 1-1 -->
        <section class="content-block-nopad bg-deepocean">
            <div class="container footer-1-1">
                <div class="row">

                    <div class="col-sm-5">
                        <img src="~/Content/images/parksmartly-logo-132x58.png" />
                        <div class="editContent">
                            <h3>BECOME A <strong>PARKSMARTLY</strong> PROVIDER...</h3>
                        </div>
                        <div class="editContent">
                            <p class="lead">and let you carpark space work for you. <a href="/account/register">Register</a> now and be one of the early adopters to earn money just by sharing your carpark spot when not in use.</p>
                        </div>
                    </div>

                    <div class="col-sm-6 col-sm-offset-1">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="editContent">
                                    <h4>Social Media</h4>
                                </div>
                                <div class="editContent">
                                    <ul>
                                        <li><a href="http://facebook.com/parksmartlyapp">facebook</a></li>
                                        <li><a href="http://twitter.com/parksmartly">Twitter</a></li>
                                        <li><a href="https://plus.google.com/u/0/105122408924078645534">Google+</a></li>
                                    </ul>
                                </div>

                                <div class="editContent">
                                    <h4>Menu</h4>
                                </div>
                                <div class="editContent">
                                    <ul>
                                        <li><a href="@Url.Action("Contact", "Home")">Contact Us</a></li>

                                    </ul>
                                </div>
                            </div>
                            @*<div class="col-md-4">
                                <div class="editContent">
                                    <h4>Legal Stuff</h4>
                                </div>
                                <div class="editContent">
                                    <ul>
                                        <li><a href="#">Privacy Policy</a></li>
                                        <li><a href="#">Terms &amp; Conditions</a></li>
                                        <li><a href="#">Cookie Policy</a></li>
                                    </ul>
                                </div>
                            </div>*@
                            <div class="col-md-8">
                                <div class="alert alert-success" role="alert" id="submittedAlert" style="display:none;">Your feedback is important to use, thank you sending them through!</div>
                                <div class="editContent">
                                    <h4>Feedback</h4>
                                    <p>If you have any feedback you would like to share, please feel free to leave it in the comments section below. Or, email us at <a href="mailto:hello@outloud.digital">hello@outloud.digital</a> </p>
                                </div>
                                <div class="form-group">
                                    <textarea id="txtMessage" class="form-control" rows="3" placeholder="Tell us what you think"></textarea>
                                    <br />
                                    <input type="text" id="txtFeedbackEmail" class="form-control" placeholder="Your emaill address" />
                                </div>
                                <button type="button" class="btn btn-primary" id="btnPostFeedback">Submit Comment</button>
                            </div>
                        </div>
                    </div>

                </div><!-- /.row -->
            </div><!-- /.container -->
        </section>
        <!--// END Footer 1-1 -->
    </div><!-- /#page -->


    <!-- Core Scripts (Do not remove) -->
    <script type="text/javascript" src="/Content/js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="/Content/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/Content/js/bootstrap-hover-dropdown.min.js"></script>

    <!-- Vendor Scripts (Feel free to remove any that you aren't using in your final export) -->
    <script type="text/javascript" src="/Content/js/modernizr.custom.js"></script>
    <script type="text/javascript" src="/Content/js/headroom.js"></script><!-- Header 1 -->
    <script type="text/javascript" src="/Content/js/jquery.headroom.js"></script><!-- Header 1 -->
    <script type="text/javascript" src="/Content/js/count.down.min.js"></script><!-- Promo 2 Countdown -->
    <script type="text/javascript" src="/Content/js/owl.carousel.min.js"></script><!-- Owl Carousel -->
    <script type="text/javascript" src="/Content/js/jquery.counterup.min.js"></script><!-- Content 2-7 Counter -->
    <script type="text/javascript" src="/Content/js/waypoints.min.js"></script><!-- Content 2-7 Counter -->
    <script type="text/javascript" src="/Content/js/jquery.isotope.min.js"></script><!-- Gallery Filter -->
    <script type="text/javascript" src="/Content/js/jquery.magnific-popup.min.js"></script><!-- Gallery Popup -->
    <script type="text/javascript" src="/Content/js/sendmail.js"></script><!-- Contact Form -->
    <!--
    <script src="https://maps.google.com/maps/api/js?sensor=true"></script>
    -->
    <!-- Theme Scripts (Do not remove) -->
    <script type="text/javascript" src="Content/js/bskit-scripts.js"></script>


    <script type="text/javascript">
    $("#btnPostFeedback").click(function () {
        $.ajax({
            url: '@Url.Action("Post", "Feedback")',
            data: { Message: $("#txtMessage").val(), Email: $("#txtFeedbackEmail").val() },
            dataType: 'json',
            method: 'POST',
            success: function (result) {
                $("#submittedAlert").slideDown("slow");
            },
            error: function (xhr, error, errorThrown) {
            }

        });
    });
    </script>



    <script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-66541026-1', 'auto');
    ga('send', 'pageview');

    </script>

    @*@Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)
</body>
</html>
